In [2]:
import pandas as pd
import numpy as np

In [5]:
import os
os.listdir()

['loss1_0.772.csv',
 'vit_randomtune2_4.ipynb',
 'loss3_0.861.csv',
 'vit_finetune_2.ipynb',
 '.DS_Store',
 'acc1_0.772.csv',
 'Untitled.ipynb',
 'vit_randomtune_3.ipynb',
 'README.md',
 'loss4_0.878.csv',
 'acc4_0.895.csv',
 'loss2_0.841.csv',
 'acc2_0.841.csv',
 'acc3_0.846.csv',
 '.ipynb_checkpoints',
 '.git',
 'loss5_0.852.csv',
 'vit_fixed_1.ipynb',
 'acc5_0.851.csv',
 'vitcnn_attnpool_5.ipynb']

In [15]:
# df1 = pd.read_csv('loss1_0.772.csv')
df2 = pd.read_csv('loss2_0.841.csv')
df3 = pd.read_csv('loss3_0.861.csv')
df4 = pd.read_csv('loss4_0.878.csv')
df5 = pd.read_csv('loss5_0.852.csv')
# df6 = pd.read_csv('acc1_0.772.csv')
df7 = pd.read_csv('acc2_0.841.csv')
df8 = pd.read_csv('acc3_0.846.csv')
df9 = pd.read_csv('acc4_0.895.csv')
df10 = pd.read_csv('acc5_0.851.csv')
vgg = pd.read_csv('vgg_score.csv')
mix = pd.read_csv('mix.csv')

In [160]:
s = pd.concat([df2[['is_related']], df3[['is_related']],
               df5[['is_related']], df7[['is_related']], df8[['is_related']], 
            df10[['is_related']]], axis=1)

In [161]:
s['mean'] = s.mean(axis=1)

In [162]:
df9 = df9.rename(columns={'is_related':'is_related2'})

In [164]:
final = pd.read_csv('final.csv')
final = final.rename(columns={'is_related':'is_related_cnn'})

In [165]:
s1 = pd.concat([df4[['is_related']], df9[['is_related2']],
               s[['mean']], final['is_related_cnn']], axis=1)

In [166]:
s1

      is_related  is_related2      mean  is_related_cnn
0       0.000077     0.004134  0.028226        0.214915
1       0.914750     0.978751  0.811449        1.612945
2       0.837950     0.873769  0.867037        1.477820
3       0.928070     0.866203  0.842229        1.628632
4       0.710317     0.627912  0.311287        0.678998
...          ...          ...       ...             ...
5305    0.255543     0.060701  0.337632        0.923429
5306    0.247853     0.450595  0.596741        0.833313
5307    0.571609     0.626112  0.495375        1.010143
5308    0.312606     0.390678  0.453619        1.292483
5309    0.073175     0.145491  0.376563        0.802952

[5310 rows x 4 columns]

In [41]:
0.895/(0.878+0.88+0.895)

0.3373539389370524

In [156]:
s1['mean2'] = s1['is_related']*0.6 + s1['mean']*0.4
# 0.878 * 0.6 + mean rest * 0.4

In [191]:
s1['mean2'] = s1['is_related']*0.6 + s1['is_related_cnn']*0.4

In [192]:
s_new = df1.copy()
s_new['mean'] = s1['mean2']
s_new=s_new.drop(columns=['is_related'])
s_new=s_new.rename(columns={'mean':'is_related'})

In [193]:
s_new

                         img_pair  is_related
0     face05508.jpg-face01210.jpg    0.086012
1     face05750.jpg-face00898.jpg    1.194028
2     face05820.jpg-face03938.jpg    1.093898
3     face02104.jpg-face01172.jpg    1.208295
4     face02428.jpg-face05611.jpg    0.697789
...                           ...         ...
5305  face99998.jpg-face99993.jpg    0.522697
5306  face99997.jpg-face99996.jpg    0.482037
5307  face99997.jpg-face99995.jpg    0.747023
5308  face99997.jpg-face99994.jpg    0.704557
5309  face99997.jpg-face99993.jpg    0.365086

[5310 rows x 2 columns]

In [194]:
s_new.to_csv('ensemble.csv', index=False)